<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div>
<a href="/">Home</a>
<a href="/add-trip">Add a Trip</a>
<a href="/delete-trip">Delete a Trip</a>
<a href="/all-trips">View All Trips</a>
</div>
    <h1>Add a Trip</h1>
    <form method="POST" action="/add-trip">
        <div><label for="city">Where would you like to travel?</label>
        <input type="text" placeHolder="Destination city" name="city" />
        </div>
        <div><label for="cityImgURL">Add a fun picture of your destination:</label>
        <input type="text" placeHolder="URL for image" name="cityImgURL" />
        </div>
        <div>
        <label for="departDate">Date of departure:</label>
        <input type="date" placeHolder="Date of departure" name="departDate" value="yyyy-mm-dd" min="2020-01-01" max="2022-12-31" />
        </div>
        <div>
        <label for="returnDate">Date of return:</label>
        <input type="date" placeHolder="Date of return" name="returnDate" value="yyyy-mm-dd" min="2020-01-01" max="2022-12-31" />
        </div>
        <button>Add trip</button>
    </form>



</body>

</html>