<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div>
<a href="/">Home</a>
<a href="/add-trip">Add a Trip</a>
<a href="/delete-trip">Delete a Trip</a>
<a href="/all-trips">View All Trips</a>
</div>
    <h1>View All Trips</h1>
    {{! <form method="POST">
    {{! </form>                 may not need post if page is only view all? }}
</body>

</html>