<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1>Delete a Trip</h1>
    <form method="POST" action="/delete-trip">
    </form>
</body>

</html>