<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div>
<a href="/">Home</a>
<a href="/add-trip">Add a Trip/View All Trips</a>
<a href="/delete-trip">Delete a Trip</a>

    <h1>Delete Trip</h1>
    <ul>
    {{#listOfTrips}}
        
        <li>
        <label>{{city}} Trip</label>
            <form method="POST" action="/delete-trip">
                <input type="hidden" value={{city}} name="city" />
                <input type="hidden" value={{cityImgURL}} name="cityImgURL" />
                <input type="hidden" value={{departDate}} name="departDate" />
                <input type="hidden" value={{returnDate}} name="returnDate" />
                <button>Delete</button>
            </form>
        </li>

    {{/listOfTrips}}
    </ul>
</body>

</html>