<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
{{! menu bar }}
    <div>
    <a href="/">Home</a>
    <a href="/add-trip">Add a Trip/View All Trips</a>
    <a href="/delete-trip">Delete a Trip</a>
    </div>

    <h1>Trips, Inc.</h1>

    <h4>Welcome to Trips, Inc.! What would you like to do?</h4>
   
    <a href="/add-trip"><button>Add a Trip/View All Trips</button></a>
    <a href="/delete-trip"><button>Delete a Trip</button></a>
    
</body>

</html>