<html>
<head>
</head>

<body>
    <h1>Trips, Inc.</h1>

    <h4>Welcome to Trips, Inc.! What would you like to do?</h4>
    <a href="/add-trip"><button>Add a Trip</button></a>
    <a href="/delete-trip"><button>Delete a Trip</button></a>
    <a href="/all-trips"><button>View All Trips</button></a>
   
</body>

</html>